# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.venv/
dist/
build/

# Tool caches
.mypy_cache/
.pytest_cache/
.ruff_cache/
.vscode/


# OS
.DS_Store
Thumbs.db

competitors/
context/
__pycache__/
__pycache__/*
__pycache__/competitor.cpython-314.pyc

# Mlflow
mlruns/
mlflow.db

# optuna
optuna_study.db
__pycache__/competitor.cpython-314.pyc
data/